<ion-header color="red">
  <ion-toolbar color="red">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <img class="title-image" src="assets/icon/feedy-icon.svg" width="80" height="35" />
    </ion-buttons>
    <ion-title size="small" class="ion-text-center">Nearby</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="p-image">
    <img src="assets/images/search-ubication.svg" alt="Search ubication image" class="search-ubication">
  </div>

  <div class="text-center">
    <h2 class="fw-700">Hi, Darell!</h2>
    <p class="txt-description">
      Please set your location to start exploring  <br>
      items near you
    </p>

    <ion-button expand="block" color="red" class="m-button">Set Location</ion-button>

  </div>

  

</ion-content>