.search-ubication
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.p-image
{
    // text-align: center;
    margin-top: 20%;
}

.fw-700
{
    font-weight: 700;
}

.txt-description
{
    color:gray;
    font-size: smaller;
}

.m-button
{
    margin-left: 35%;
    margin-right: 35%;

    font-size: x-small;
}