.header_container{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.back_custom{
    width: 14px;
    height: 14px;
    margin-top: 30px;
}

ion-title{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #090909;
    margin-top: -5px;
}

.ion-icon-custom{
    padding: 7px;
    border-radius: 50%;
    width: 20px;
    height: 19px;
}

.custom-street{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 22px;
}