<ion-header>
  <ion-toolbar>
    <div class="header_container">
      <a href="">
        <ion-icon class="back-custom" src="assets/icon/back.svg"></ion-icon>
      </a>
      <ion-title>Location</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item class="custom-class">
      <ion-icon class="ion-icon-custom" src="assets/icon/location.svg">
      </ion-icon>
      <ion-label class="custom-street">Xyz street, Xyz city</ion-label>
      <ion-icon class="ion-icon-custom" src="assets/icon/edit.svg">
      </ion-icon>
      <ion-icon class="ion-icon-custom" src="assets/icon/delete.svg">
      </ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
