<ion-header>
  <ion-toolbar>
    <div class="header_container">
      <a href="">
        <ion-icon class="back-custom" src="assets/icon/back.svg"></ion-icon>
      </a>
      <ion-title>Your Shared Items</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label class="quantity">
    <h2>
      1 item
    </h2>
  </ion-label>

  <ion-list class="custom-margin">
    <ion-item class="ion-padding-bottom">
      <ion-col size="4">
        <img src="assets/images/pizza-slice.png">
      </ion-col>
      <ion-col size="8" class="up-custom">
        <h3 class="custom-title">
          Pizza Slice
        </h3>
        <p class="custom-description">
          Last night pizza, but fresh and untouched.
        </p>
        <p class="custom-date">
          27 Jan 2021
        </p>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
